.el-input__inner {
  background-color: transparent !important;
  border:none !important;
  color: #fff !important;
}
.el-button{
  background-color:transparent !important;
  border:none !important;
}
